* {
    margin: 3px auto;
    width: 96%;
    padding: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    font-size: 2vh;
}
body {
    background-color:  #EBD9F6;
    
}

h1, h2, h3, dt {
    font-family: cursive, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: crimson;
    background-color: aliceblue;
    margin: 2px auto;
}

div {
    border: 1px double green;
    float: left;
    border-radius: 0.4em;
}

#left-content {
    margin-right: 5px;
    width: 17%;
   
}
/* Navigation List */

a {
    text-decoration: none;
    display: inline-block;
    font-variant: small-caps;
}

.list ul li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    display: inline-block;
    font-variant: small-caps;
    background-color: #ffeeff;
    border: 1px solid blue;
    border-radius: 0.8em;
    color: black;
}
/* Main Page Content */
#main-content {
    width: 56%;
}
/* Essential Page Content */
#right-content {
    width: 25%;
    margin-left: 5px;
}
/* Page Footer*/
#footer {
    width: 100%;
    clear: left;
    border: none;
}
/* Miscellaneous */
#footer p { 
    text-align: center;
}

q,cite {
    font-family: 'Courier New', Courier, monospace;
    
}
marquee {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}
span {
    color: crimson;
}
.button {
    font-variant: small-caps;
    color: white;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border: none;
    padding: 13px 22px;
    font-size: 13px;
}
.previous {
    background-color: crimson;
}
.t-content {
    background-color: blue;
}
.next {
    background-color: green;
}
@media screen and (max-width: 730px) {
    body {
        font-size: 1vw;
        width: 100%;
    }
    h1, h2, h3, h4, dt {
        width: 56%;
        text-align: center;
    }
    div {
        width: 100%;
    }
    dd {
        width: 100%;
    }
    #left-content, #right-content, #main-content {
        width: 100%;
        margin-top: 3px;
    }
    img {
        width: 100%;
    }
    a {
        display: block;
    }
}